@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
.c-black {
  color: black;
}

.c-white {
  color: white;
}

body {
  background-color: #191919;
  font-family: "Roboto", sans-serif;
}

.recent {
  padding: 2rem 0;
}
.recent__top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.recent__top__title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}
.recent__top__controls {
  display: flex;
}
.recent__top__controls__prev {
  margin-right: 3rem;
}
.recent__slider__slides {
  position: relative;
  height: 310px;
  margin: 0 2rem;
}
.recent__slider__slides__text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 1;
  color: white;
}
.recent__slider__slides__text__title {
  font-size: 20px;
  font-weight: 500;
}
.recent__slider__slides img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 35px;
}

.discover {
  padding: 2rem;
}
.discover__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: white;
  border-radius: 44px 0 0 44px;
}

.top-mangas {
  padding: 2rem;
}
.top-mangas__image {
  width: 100%;
  height: 100%;
}
.top-mangas__image.max {
  min-height: 430px;
  max-height: 430px;
}
.top-mangas__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
