@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
.c-black {
  color: black;
}

.c-white {
  color: white;
}

.header {
  height: 70px;
  background: #22252D 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 13px #111111BD;
  opacity: 1;
  display: flex;
  align-items: center;
}
.header__logo {
  color: red;
  width: 30%;
}
.header__logo img {
  height: 40px;
}
.header__menu {
  width: 40%;
  text-align: center;
}
.header__menu__link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 0 15px;
}
.header__menu__link:hover {
  color: yellow;
  text-decoration: none;
}
.header__tools {
  width: 30%;
  text-align: right;
  padding-right: 15px;
  height: 26px;
}
.header__tools__search {
  display: inline-block;
}
.header__tools__search a {
  font-size: 25px;
  color: #fff;
}
.header__tools__notifications {
  display: inline-block;
  height: 26px;
}
.header__tools__notifications a {
  font-size: 25px;
  color: #fff;
  padding: 0 15px;
}
.header__tools__account {
  display: inline-block;
  position: relative;
}
.header__tools__account img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
}
.header__tools__account__panel {
  background: red;
}

body {
  background-color: #191919;
  font-family: "Roboto", sans-serif;
}

.recent {
  padding: 2rem 0;
}
.recent__top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.recent__top__title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}
.recent__top__controls {
  display: flex;
}
.recent__top__controls__prev {
  margin-right: 3rem;
}
.recent__slider__slides {
  position: relative;
  height: 310px;
  margin: 0 2rem;
}
.recent__slider__slides__text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 1;
  color: white;
}
.recent__slider__slides__text__title {
  font-size: 20px;
  font-weight: 500;
}
.recent__slider__slides img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 35px;
}

.discover {
  padding: 2rem;
}
.discover__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: white;
  border-radius: 44px 0 0 44px;
}
