@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@charset "UTF-8";
.header {
  height: 70px;
  background: #FFF;
  box-shadow: 0px 2px 6px #0000001A;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: red;
  width: 20%;
}
.header__logo img {
  height: 35px;
}
.header__menu {
  width: 50%;
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
}
.header__menu a {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}
.header__menu__link {
  color: #212121;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}
.header__menu__link__icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 23px;
  margin-right: 5px;
}
.header__menu__link__icon.home {
  background-image: url(/images/home.svg?1d4d2b6b0820f657a3fbad9d4f9757e6);
}
.header__menu__link__icon.menu {
  background-image: url(/images/menu.svg?411b8eb69fedbca0da56296d06361fba);
}
.header__menu__link__icon.vip {
  background-image: url(/images/vip.svg?71ec127acac0287acd424da91125ca1e);
}
.header__menu__link__icon.contact {
  background-image: url(/images/contact.svg?55049e13b7ad1878356245bf206773ed);
}
.header__menu__link:hover {
  color: #6d6d6d;
  text-decoration: none;
}
.header__tools {
  width: 30%;
  height: 70px;
  text-align: right;
}
.header__tools .change-mode {
  background: url(/images/moon.svg?b1772046b97704bf7105916010d11627) #F3F3F3;
  border-radius: 25px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: super;
  cursor: pointer;
}
.header__tools__search {
  background: #F3F3F3;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  display: inline-block;
  margin-right: 40px;
}
.header__tools__search .search-icon {
  background-image: url(/images/search.svg?faab95974feae26d342c6e9ab383e383);
  background-size: 100%;
  width: 20px;
  height: 20px;
  float: left;
}
.header__tools__search input {
  border: none;
  background: none;
  margin-left: 5px;
  font-style: italic;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
  width: 200px;
}
.header__tools__search input::-moz-placeholder {
  color: #212121;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.header__tools__search input:-ms-input-placeholder {
  color: #212121;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.header__tools__search input::placeholder {
  color: #212121;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.header__tools__search .search-submit {
  position: absolute;
  right: 0;
  background: #FF750C;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  border: none;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  font-weight: 900;
  cursor: pointer;
}
.header__tools__account {
  display: inline-block;
  position: relative;
}
.header__tools__account img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px;
}
.header__tools__account__panel {
  background: red;
}

.account {
  background: #FF750C;
  box-shadow: -1px 7px 22px -8px rgba(0, 0, 0, 0.57);
  position: absolute;
  right: -35px;
  margin-top: 22px;
  width: 200px;
  border-radius: 10px;
  display: none;
  padding-top: 10px;
}
.account.show {
  display: block;
}
.account::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17.5px 17px 17.5px;
  border-color: transparent transparent #FF750C transparent;
  top: -17px;
  right: 35px;
}
.account__profile {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F3;
  padding: 5px;
}
.account__profile__avatar {
  width: 40px !important;
  height: 40px !important;
  border: 3px solid #fff;
  margin-right: 10px;
}
.account__profile__infos {
  margin-top: -10px;
}
.account__profile__infos li {
  color: #fff;
  text-align: left;
  font-size: 14px;
}
.account__profile__infos li:nth-child(1) {
  font-weight: bold;
}
.account__profile__infos li:nth-child(2) {
  font-style: italic;
  color: #212121;
}
.account__logout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  text-align: center;
  padding: 10px;
  font-style: italic;
  border-top: 1px solid #F3F3F3;
}
.account__logout:hover {
  background: #e7e7e7;
}
.account__menu {
  display: block;
  padding: 10px 30px;
  height: 140px;
  text-align: left;
  background: #FFF;
}
.account__menu li {
  margin: 5px;
}
.account__menu li a {
  text-transform: uppercase;
}
.account__menu li a span {
  float: right;
}
.account__menu li a:hover {
  color: #FF750C;
}

.top-mangas__list {
  display: flex;
  height: 450px;
}
.top-mangas__list__item {
  background: #fff;
  border-radius: 50px;
  height: 100%;
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
  border: 1px solid #707070;
  overflow: hidden;
}
.top-mangas__list__item__overlay {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4220063025) 42%, rgba(0, 0, 0, 0.0606617647) 79%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.top-mangas__list__item__title {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 5px;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.top-mangas__list__item__tag {
  z-index: 1;
  position: absolute;
  background: #fff;
  top: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 27px;
  font-size: 23px;
  font-weight: bold;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.7);
  color: #131313;
}
.top-mangas__list__item__tag.first {
  background: #fb1a1a;
  background: linear-gradient(90deg, #fb1a1a 41%, #f859b3 87%);
  color: #FFF;
  padding: 12px 45px 12px 48px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  font-size: 33px;
}
.top-mangas__list__item.item-egal {
  height: 215px;
}
.top-mangas__list__item.item-egal:first-child {
  margin-bottom: 20px;
}
.top-mangas__list__collumn {
  padding: 0 20px;
}
.top-mangas__list__collumn:nth-child(1n) {
  width: 50%;
  padding-left: 0;
}
.top-mangas__list__collumn:nth-child(2n) {
  width: 21%;
}
.top-mangas__list__collumn:nth-child(3n) {
  width: 29%;
  padding-right: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  background: #dadada;
  background: linear-gradient(0deg, #dadada 24%, rgba(218, 218, 218, 0.5340511204) 57%, rgba(218, 218, 218, 0) 100%);
  padding-bottom: 30px;
}
.footer__logo {
  width: 225px;
  margin-right: 70px;
}
.footer__infos {
  text-align: center;
}
.footer__infos ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px;
  padding-left: 0;
}
.footer__infos ul li::after {
  content: "|";
  font-weight: 800;
  margin-left: 20px;
}
.footer__infos ul li:last-child::after {
  content: "";
}
.footer__infos__copyright {
  text-transform: uppercase;
  font-weight: 300;
}
.footer__infos__copyright a {
  font-weight: 400;
  font-style: italic;
}

.section-contact {
  display: flex;
  margin-top: 30px;
}
.section-contact h5 {
  font-size: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
.section-contact h5 span {
  color: #FF750C;
  font-weight: bold;
}
.section-contact__socials {
  width: 40%;
}
.section-contact__socials ul li {
  padding: 5px 0;
  height: 40px;
  display: flex;
}
.section-contact__socials ul li span {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  font-style: italic;
  color: #0984e3;
  cursor: pointer;
}
.section-contact__socials ul li span:hover {
  color: #74b9ff;
}
.section-contact__socials__icon {
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid #FF750C;
  border-radius: 40px;
  box-shadow: 0px 0px 11px -2px #ababab;
}
.section-contact__socials__icon.twitter {
  background: url(/images/twitter.svg?f900554cbc4f4d0e9a8f07a53a6d3555);
}
.section-contact__socials__icon.instagram {
  background: url(/images/instagram.svg?0b3e8a0c68c61f6f9de668820032ea7d);
}
.section-contact__socials__icon.discord {
  background: url(/images/discord.svg?0c4e6f7807004021f03d2faf781bd16e);
}
.section-contact__form {
  width: 60%;
  padding-right: 25px;
}
.section-contact__form form {
  box-shadow: 0px 0px 11px -2px #ababab;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.form-group {
  width: 100%;
  margin: 10px 0;
}
.form-group:first-child {
  margin-top: 0;
}
.form-group label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.form-group input[type=text], .form-group textarea {
  display: table-cell;
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #FF750C;
  background: #f7f7f7;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.form-group input[type=text]:focus, .form-group textarea:focus {
  border-bottom: 2px solid #FF750C;
}

.vip-title h3 {
  text-align: center;
  font-size: 24px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

.vip-bigtitle h2 {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
.vip-bigtitle h2 span {
  color: #ffdb0c;
}

.vip-pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vip-pricing__table {
  width: 33%;
  box-shadow: 0px 0px 6px #00000078;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}
.vip-pricing__table.recommanded {
  border: 2px solid #FF750C;
}
.vip-pricing__table:nth-child(2) {
  margin-top: -20px;
}
.vip-pricing__table__icon {
  text-align: center;
  padding: 15px 0;
}
.vip-pricing__table__icon img {
  width: 70px;
}
.vip-pricing__table__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 29px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.vip-pricing__table__description {
  padding: 15px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 19px;
  text-align: center;
}

body.dark {
  background: #222225;
  color: #e6e6e6;
}
body.dark a {
  color: #fff;
}
body.dark .header {
  background: #191919;
}
body.dark .header__menu a {
  color: #fff;
}
body.dark .header__tools__search {
  background: #373737;
}
body.dark .header__tools__search input {
  color: #fff;
}
body.dark .header__tools__search input::-moz-placeholder {
  color: #FFF;
}
body.dark .header__tools__search input:-ms-input-placeholder {
  color: #FFF;
}
body.dark .header__tools__search input::placeholder {
  color: #FFF;
}
body.dark .header__tools .change-mode {
  background: url(/images/sun.svg?ebb090350e806993f1d0b4333115cdc4) #242424;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
body.dark .block__title h3 {
  background: #474747;
}
body.dark .block__title__controls__more {
  color: #FFF;
}
body.dark .block__title__controls__prev, body.dark .block__title__controls__next {
  background: #474747;
}
body.dark .container-sidebar__sidebar {
  background: #191919;
  box-shadow: none;
}
body.dark .container-sidebar .home-sidebar {
  background: #191919;
  box-shadow: none;
}
body.dark .home-categories {
  background: #191919;
  box-shadow: none;
}
body.dark .home-categories ul li:hover {
  background: #272727;
}
body.dark .home-slider  {
  box-shadow: none;
}
body.dark .footer {
  background: none;
  color: #fff;
}
body.dark .session-contact__form form {
  background: #191919;
  box-shadow: none;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;
  counter-reset: ladder;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
  transition: all 0.4s;
}

.text-success {
  color: #25C100;
}

.text-warning {
  color: #FF750C;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 800;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}
.btn.btn-warning {
  background: #FF750C;
  border-bottom: 3px solid #e67e22;
  color: #fff;
}
.btn.btn-warning:active  {
  border-bottom: none;
}

.container {
  height: 100%;
  padding: 0 200px 0 200px;
}

.container-sidebar {
  display: flex;
}
.container-sidebar__content {
  width: 70%;
  padding-right: 25px;
}
.container-sidebar__sidebar {
  width: 30%;
  box-shadow: 0px 0px 11px -2px #ababab;
  border-radius: 15px;
  overflow: hidden;
}
.container-sidebar__sidebar__block__title {
  padding: 0;
  margin: 0;
  height: 75px;
}
.container-sidebar__sidebar__block__title.discord {
  background: url(/images/sidebar-discord.jpg?72eaf2036ecacf23aa1efdb5b8865c46);
  background-size: cover;
}
.container-sidebar__sidebar__block__title.ladder {
  background: url(/images/sidebar-ladder.jpg?1f3213025ba4f8c65eb925bb9e540236);
  background-size: cover;
}
.container-sidebar__sidebar__block__title h5 {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 75px;
  color: #fff;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
}
.container-sidebar__sidebar__block__content {
  padding: 10px;
}
.container-sidebar__sidebar__block__content iframe {
  width: 100%;
}
.container-sidebar .home-content {
  width: 70%;
  padding-right: 25px;
}
.container-sidebar .home-sidebar {
  width: 30%;
  box-shadow: 0px 0px 11px -2px #ababab;
  border-radius: 15px;
  overflow: hidden;
}

.ladder__title {
  color: #fff;
  position: absolute;
  left: 50px;
  bottom: -12px;
  font-size: 12px;
}
.ladder__overlay {
  background: rgba(0, 0, 0, 0.4);
  width: calc(100% - 90px);
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ladder h3 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
.ladder h3::before {
  content: "";
  background: url(/images/award.svg?230b211f3b4932c6f9f03447415de82f);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.ladder ul li {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  height: 45px;
  line-height: 45px;
  margin-bottom: 5px;
  background: black;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}
.ladder ul li::before {
  width: 45px;
  height: 45px;
  float: left;
  background: #f1f2f6;
  counter-increment: ladder;
  content: counter(ladder);
}
.ladder ul li:nth-child(1)::before {
  background: #fbc531;
}
.ladder ul li:nth-child(2)::before {
  background: #d1ccc0;
}
.ladder ul li:nth-child(3)::before {
  background: #cc8e35;
}
.ladder ul li.up::after {
  content: "";
  float: right;
  width: 45px;
  height: 45px;
  background: url(/images/ladder-up.png?9570491b4ca86ce61ccfbaef0acb79eb) #212121;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}
.ladder ul li.down::after {
  content: "";
  float: right;
  width: 45px;
  height: 45px;
  background: url(/images/ladder-down.png?1ae3be46aee2bed99965107ed54c3944) #212121;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}

.tendances__top, .recents__top, .news__top, .exclusives__top {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.tendances__slider__slides, .recents__slider__slides, .news__slider__slides, .exclusives__slider__slides {
  border: 1px solid #707070;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 270px;
  margin: 0 5px;
  background-size: cover !important;
  background-position: center center !important;
}
.tendances__slider__slides__text, .recents__slider__slides__text, .news__slider__slides__text, .exclusives__slider__slides__text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 1;
  color: white;
}
.tendances__slider__slides__text__title, .recents__slider__slides__text__title, .news__slider__slides__text__title, .exclusives__slider__slides__text__title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.tendances__slider__slides__text__chapter, .recents__slider__slides__text__chapter, .news__slider__slides__text__chapter, .exclusives__slider__slides__text__chapter {
  text-transform: uppercase;
  font-size: 12px;
}
.tendances__slider__slides img, .recents__slider__slides img, .news__slider__slides img, .exclusives__slider__slides img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 35px;
}
.tendances__slider__slides__overlay, .recents__slider__slides__overlay, .news__slider__slides__overlay, .exclusives__slider__slides__overlay {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6320903361) 42%, rgba(0, 0, 0, 0.043855042) 79%);
  width: 100%;
  height: 100%;
  position: absolute;
}

.discover {
  padding: 2rem;
}
.discover__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: white;
  border-radius: 44px 0 0 44px;
}

.block__title {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
}
.block__title__controls {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.block__title__controls__prev {
  margin-right: 10px;
  background: #FF750C;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 20px;
}
.block__title__controls__next {
  background: #FF750C;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  color: #fff;
  font-size: 20px;
}
.block__title__controls__more {
  margin-right: 20px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.block__title__controls__more:hover {
  color: #FF750C;
}
.block__title h3 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-indent: 70px;
  position: relative;
  text-transform: uppercase;
  background: #FF750C;
  padding: 10px 10px;
  border-radius: 10px;
  height: 20px;
  line-height: 26px;
}
.block__title h3::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  background-size: 100% 100% !important;
  left: 0;
  margin-top: -17px;
  margin-left: -7px;
}
.block__title.recents h3::before {
  background: url(/images/recents.png?38d92eb4f75234ebdb09b4fce8dc122c);
}
.block__title.tendances h3::before {
  background: url(/images/bonfire.png?82ba030cb94517b6ab0a4c5055e3e3d5);
}
.block__title.news h3::before {
  background: url(/images/news.png?6b8cad418119a97cf1efe2a230c17f75);
}
.block__title.exclusives h3::before {
  background: url(/images/exclusives.png?b427fe2f3d5459ffd68bf82902b032b2);
}
.block__title.contact h3::before {
  background: url(/images/contact.png?bb2f53ec9ace17a3b711d2624bee6c02);
}
.block__title.secure h3::before {
  background: url(/images/secure.png?0f1f1fdcc43706267c4980eb7092b4d0);
}

.header-spacer {
  width: 100%;
  height: 70px;
  clear: both;
}

.home-categories {
  height: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 11px -2px #ababab;
  margin-top: 40px;
}
.home-categories ul {
  display: flex;
  justify-content: space-evenly;
}
.home-categories ul li {
  line-height: 50px;
  text-align: center;
  padding: 0 5px;
}
.home-categories ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.home-categories ul li a .menu-icon {
  float: left;
  background-image: url(/images/menu.svg?411b8eb69fedbca0da56296d06361fba);
  width: 23px;
  height: 23px;
  margin-top: 11px;
  margin-right: 4px;
}
.home-categories ul li a .hot-icon {
  float: left;
  background-image: url(/images/hot.svg?87621eeaa559798d31c183f5e75bb247);
  width: 23px;
  height: 23px;
  margin-top: 11px;
  margin-right: 4px;
}
.home-categories ul li:hover {
  background: #f0f0f0;
}

.home-slider {
  margin-top: 50px;
  height: 350px;
  position: relative;
  box-shadow: 0px 0px 11px -2px #ababab;
  border-radius: 30px;
  overflow: hidden;
}
.home-slider #home-slider {
  display: flex;
}
.home-slider__slide {
  width: 33%;
  background: green;
  height: 350px;
}
.home-slider__slide:nth-child(1n) {
  background: pink;
}
.home-slider__slide:nth-child(2n) {
  background: blue;
}
.home-slider__slide:nth-child(3n) {
  background: yellow;
}
.home-slider__slide:nth-child(4n) {
  background: green;
}
.home-slider .slick-dots {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}
.home-slider .slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 3px;
  cursor: pointer;
}
.home-slider .slick-dots li.slick-active {
  width: 25px;
  border-radius: 25px;
  background: #FF750C;
}
.home-slider .slick-dots li button {
  display: none;
}
.home-slider__arrow-prev {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 38px;
  height: 38px;
  background: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  line-height: 38px;
  cursor: pointer;
}
.home-slider__arrow-next {
  display: inline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 38px;
  height: 38px;
  background: #fff;
  text-align: center;
  font-size: 24px;
  border-radius: 50%;
  line-height: 38px;
  cursor: pointer;
}
.home-slider__arrow-prev:hover, .home-slider__arrow-next:hover {
  box-shadow: 0px 3px 6px #00000029;
}
