body {

    &.dark {

        background: #222225;
        color: rgb(230, 230, 230);

        a {
            color: #fff;
        }
        
        input, textarea, select {
            background: #000 !important;
            color: #FFF;
        }

        .header {
            //background: #191919;

            &__menu {
                a {
                    color: #fff;
                }
            }
            &__tools {
                &__search {
                    background: #373737;

                    input {
                        color: #fff;
                        background: none !important;
                    }

                    input::placeholder {
                        color: #FFF;
                    }
                }

                .change-mode {
                    background: url('../../public/images/static/icons/sun.svg') #242424;
                    background-size: 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        .block {

            &__title {

                h3 {
                    background: #191919;
                }

                &__controls {

                    &__more {
                        color: #FFF;
                    }
                    &__prev, &__next {
                        background: #474747;
                    }
                }
            }
        }

        .container-sidebar {

            &__sidebar {
                background: #191919;
                box-shadow: none;
            }
            
            .home-sidebar {
                background: #191919;
                box-shadow: none;
            }
        }

        .home-categories {
            background: #191919;
            box-shadow: none;

            ul {

                li {

                    &:hover {
                        background: #272727;
                    }
                }
            }
        }

        .home-slider {
            box-shadow: none;
        }

        .footer {
            
            background: none;
            color: #fff;
        }

        .session-contact {

            &__form {

                form {
                    background: #191919;
                    box-shadow: none;  
                }
            }
        }

        .account {

            &__logout, &__menu {
                background: #191919;
            }

            &__profile {
                border-bottom: 1px solid #222225;
            }

            &__logout {
                border-top: 1px solid #222225;

                &:hover {
                    background: #2b2b2e;
                }
            }
        }

        .vip-title {
            h3 {
                color: white;
            }
        }
        
        .vip-bigtitle {
            h2 {
                color: white;
            }
        }

        .vip-pricing {
            &__table {
                box-shadow: 0px 0px 6px #ffffff78;
                &__list {
                    &__text {
                        color: #ffffff99;
                    }
                }
            }
        }

        .catalog {
            
            &__search {
                
                &__input {

                    input {
                        background: none !important;
                        color: #000;
                    }
                }
            }
        }

        .manga {

            &__banner {

                &__infos {
                    background: #191919;
                    box-shadow: none;
                }
            }

            &__read {

                &__selection {
                    
                    .btn-selection {
                        background: #191919;
                        box-shadow: none;
                    }
                }
            }

            &__chapters {

                &__chapter {
                    box-shadow: none;
                    background: #191919;
                    border: 1px solid #191919;

                    &:hover {
                        border: 1px solid $secondary-color;
                    }
                }
            }
        }

        .ladder {
            ul {
                li {
                    &::before {
                        color: #000;
                    }
                }
            }
        }
    }
}