.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    background: #FFFFFF0D;
    padding-bottom: 30px;

    &__logo {
        width: 225px;
        margin-right: 70px;
    }
    &__infos {
        text-align: center;

        ul {
            li {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 700;
                padding: 0 20px;
                padding-left: 0;

                &::after {
                    content: '|';
                    font-weight: 800;
                    margin-left: 20px;
                }
                &:last-child {

                    &::after {
                        content: '';
                    }
                }
            }
        }
        &__copyright {
            text-transform: uppercase;
            font-weight: 300;

            a {
                font-weight: 400;
                font-style: italic;
            }
        }
    }
}