

.header {
    height: 70px;
    background: #0A0B0E;
    box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.41);
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 30px;
    right: 30px;
    top: 30px;
    border-radius: 50px;

    &__logo {
        width: 15%;

        img {
            height: 35px;
        }
    }
    &__menu {
        width: 45%;
        text-align: left;
        font-family: $title-family;
         

        a {
            font-size: 14px;
            color: $c-white;
            font-weight: 700;
            text-decoration: none;
        }
        &__link {
            color: #212121;
            padding: 0 15px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            height: 70px;
            line-height: 70px;
            display: inline-block;

            &__icon {
                width: 20px;
                height: 20px;
                float: left;
                margin-top: 23px;
                margin-right: 20px;

                &.home {
                    background-image: url('../../public/images/static/icons/home.svg');
                }
                &.menu {
                    background-image: url('../../public/images/static/icons/menu.svg');
                }
                &.vip {
                    background-image: url('../../public/images/static/icons/vip.svg');
                }
                &.contact {
                    background-image: url('../../public/images/static/icons/contact.svg');
                }
            }
        }
        &__link:hover {
            color: #6d6d6d;
            text-decoration: none;
        }
    }
    &__tools {
        width: 40%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__search {
            background: #ffffff1a;
            padding: 10px 20px 10px 20px;
            border-radius: 21px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center; 
            justify-content: space-between;
            
            .search-icon {
                background-image: url('../../public/images/static/icons/search.svg');
                background-size: 100%;
                width: 20px;
                height: 20px;
                float: left;
            }
            input {
                border: none;
                background: none;
                margin-left: 5px;
                font-style: italic;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                outline: none;
                width: 200px;
            }
            input::placeholder {
                color: #212121;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-style: italic;
            }
            .search-submit {
                background: transparent;
                border: none;
                span {
                    display: block;
                }
            }
        }

        &__adult {
            display: inline-block;
            position: relative;
        }

        &__account {
            display: flex;
            &__panel {
                background: red;
            }
        }
    }
}

.account {
    background: #FF750C;
    box-shadow: -1px 7px 22px -8px rgba(0,0,0,0.57);
    position: absolute;
    right: -35px;
    margin-top: 22px;
    width: 200px;
    border-radius: 10px;
    display: none;
    padding-top: 10px;

    &.show {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17.5px 17px 17.5px;
        border-color: transparent transparent #FF750C transparent;
        top: -17px;
        right: 35px;
    }

    &__profile {
        
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #F3F3F3;
        padding: 5px;
        
        &__avatar {
            width: 40px !important;
            height: 40px !important;
            border: 3px solid #fff;
            margin-right: 10px;
        }
        &__infos {
            margin-top: -10px;

            li {
                color: #fff;
                text-align: left;
                font-size: 14px;

                &:nth-child(1) {
                    font-weight: bold;
                }

                &:nth-child(2) {
                    font-style: italic;
                    color: #212121;
                }
            }
        }
    }
    &__logout {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        text-align: center;
        padding: 10px;
        font-style: italic;
        border-top: 1px solid #F3F3F3;

        &:hover {
            background: rgb(231, 231, 231);
        }
    }
    &__menu {
        display: block;
        padding: 10px 30px;
        height: 140px;
        text-align: left;
        background: #FFF;

        li {
            margin: 5px;

            a {
                text-transform: uppercase;
                
                span {
                    float: right;
                }

                &:hover {
                    color: #FF750C;
                }
            }
        }
    }
}