.btn-third {
    border: 2px solid #b62626;
    box-shadow: 0px 0px 4px 4px rgba(255, 5, 5, 0.25);
    border-radius: 35px;
    background: transparent;
    padding: 12px 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: $c-white;
    display: flex;
    align-items: center;
    span {
        float: left;
        margin-right: 5px;
    }
}

.btn-secondary {
    border-radius: 7px;
    text-align: center;
    color: white;
    font-weight: 700;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 7px 0px;
    width: 100%;
    &.webcomic {
        background: linear-gradient(118.69deg, #2dfd80 13.59%, #1e472e 100%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #2dfd8090;
        }
    }
    &.manhua {
        background: linear-gradient(126.52deg, #5bf1bb 17.19%, #205743 113.98%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #5bf1bb90;
        }
    }
    &.manhwa {
        background: linear-gradient(180deg, #4ecad2 0%, #135256 100%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #4ecad290;
        }
    }
    &.romance {
        background: linear-gradient(122.03deg, #ed5050 1.73%, #784242 69.24%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #ed505090;
        }
    }
    &.shonen {
        background: linear-gradient(130.65deg, #3871c8 26.9%, #1d3558 102.24%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #3871c890;
        }
    }
    &.novel {
        background: linear-gradient(110.9deg, #c0bf9e 34.15%, #737147 92.75%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #c0bf9e90;
        }
    }
    &.adult {
        background: linear-gradient(180deg, #292929 0%, rgba(41, 41, 41, 0) 100%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #29292990;
        }
    }
    &.shojo {
        background: linear-gradient(180deg, #f588ea 0%, #78176e 100%);
        &:hover {
            box-shadow: 0px 0px 4px 4px #f588ea90;
        }
    }
    &.shonen-ai {
        background: linear-gradient(180deg, #c03fe0 0%, #4a2054 100%);
        margin-right: unset;
        &:hover {
            box-shadow: 0px 0px 4px 4px #c03fe090;
        }
    }
}


.h--3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $c-white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    span {
        margin-right: 15px;
    }
}