.bg-home {
    width: 24px; height: 23px;
    background: url('../images/css_sprites.png') -105px -116px;
}


.bg-library {
    width: 26px; height: 24px;
    background: url('../images/css_sprites.png') -101px -165px;
}

.bg-fastpass {
    width: 29px; height: 23px;
    background: url('../images/css_sprites.png') -56px -116px;
}

.bg-team {
    width: 22px; height: 22px;
    background: url('../images/css_sprites.png') -10px -210px;
}

.bg-adult {
    width: 18px; height: 20px;
    background: url('../images/css_sprites.png') -217px -134px;
}

.bg-search {
    width: 20px; height: 20px;
    background: url('../images/css_sprites.png') -217px -55px;
}

.bg-account {
    width: 20px; height: 25px;
    background: url('../images/css_sprites.png') -217px -10px;
}

.bg-plus {
    width: 21px; height: 22px;
    background: url('../images/css_sprites.png') -52px -210px;
}

.bg-resume {
    width: 23px; height: 23px;
    background: url('../images/css_sprites.png') -147px -165px;
}

.bg-hearth_png {
    width: 37px; height: 33px;
    background: url('../images/css_sprites.png') -10px -10px;
}

.bg-news_png {
    width: 26px; height: 29px;
    background: url('../images/css_sprites.png') -10px -116px;
}

.bg-plus_orange {
    width: 25px; height: 26px;
    background: url('../images/css_sprites.png') -172px -10px;
}

.bg-plus_rouge {
    width: 25px; height: 25px;
    background: url('../images/css_sprites.png') -172px -56px;
}

.bg-star {
    width: 20px; height: 19px;
    background: url('../images/css_sprites.png') -217px -95px;
}

.bg-last_updates_png {
    width: 31px; height: 29px;
    background: url('../images/css_sprites.png') -121px -10px;
}

.bg-top {
    width: 25px; height: 25px;
    background: url('../images/css_sprites.png') -172px -101px;
}

.bg-sparkles {
    width: 13px; height: 13px;
    background: url('../images/css_sprites.png') -217px -174px;
}

.bg-previous {
    width: 31px; height: 33px;
    background: url('../images/css_sprites.png') -10px -63px;
}

.bg-next {
    width: 31px; height: 33px;
    background: url('../images/css_sprites.png') -61px -63px;
}

.bg-discover_png {
    width: 29px; height: 27px;
    background: url('../images/css_sprites.png') -121px -59px;
}

.bg-vip_area_png {
    width: 26px; height: 25px;
    background: url('../images/css_sprites.png') -10px -165px;
}

.bg-join_us {
    width: 25px; height: 25px;
    background: url('../images/css_sprites.png') -56px -165px;
}

.bg-filter_png {
    width: 34px; height: 32px;
    background: url('../images/css_sprites.png') -67px -10px;
}

.bg-contact {
    width: 22px; height: 20px;
    background: url('../images/css_sprites.png') -93px -210px;
}