$primary-color: #44B6BD;
$secondary-color: #FF750C;

[data-theme="dark"] {
    $primary-color: #212121;
}

$background: #121318;

$c-black: black;
$c-white: white;

$f-family: 'Roboto', sans-serif;
$title-family: 'Josefin Sans', sans-serif;