$primary-color: #fff;

[data-theme="dark"] {
    $primary-color: #212121;
}

$background: #FFFFFF;

$c-black: black;
$c-white: white;

$f-family: 'Roboto', sans-serif;
$title-family: 'Josefin Sans', sans-serif;