.vip-title {
    h3 {
        text-align: center;
        font-size: 24px;
        color: $c-black;
        font-family: $title-family;
    }
}

.vip-bigtitle {
    h2 {
        font-size: 46px;
        font-weight: bold;
        text-align: center;
        color: $c-black;
        font-family: $title-family;
        span {
            color: #ffdb0c;
        }
    }
}

.vip-pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__table {
        width: 33%;
        box-shadow: 0px 0px 6px #00000078;
        border-radius: 25px;
        padding: 15px;
        margin: 10px;
        &.recommanded {
            border: 2px solid #ff750c;
        }
        &:nth-child(2) {
            margin-top: -20px;
        }
        &__icon {
            text-align: center;
            padding: 15px 0;
            img {
                width: 70px;
            }
        }
        &__title {
            font-family: $title-family;
            font-size: 29px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        &__description {
            padding: 15px 0;
            font-family: $title-family;
            font-size: 19px;
            text-align: center;
        }
        &__list {
            font-family: $title-family;
            &__title {
                font-size: 19px;
                color: #ff750c;
            }
            &__text {
                margin-top: 10px;
                font-size: 15px;
                color: #22222599;
                font-weight: bold;
                font-style: italic;
            }
            ul {
                padding: 0 60px;
                li {
                    margin-top: 30px;
                    position: relative;
                    &:before {
                        width: 12px;
                        height: 12px;
                        border-radius: 15px;
                        position: absolute;
                        left: -50px;
                        top: 10px;
                        background: #ff750c;
                        content: "";
                    }
                }
            }
        }
        &__price {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            margin-top: 60px;
        }
        &__button {
            text-align: center;
            margin : 35px 0;
        }
    }
}
