@import "variables";
@import "colors";
@import "header";
@import "topmanga";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    background-color: $background;
    font-family: $f-family;
}

.recent {
    padding: 2rem 0;
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 2rem 5rem;
        &__title {
            font-size: 24px;
            font-weight: 800;
            color: white;
        }
        &__controls {
            display: flex;
            &__prev {
                margin-right: 3rem;
            }
        }
    }
    &__slider {
        &__slides {
            position: relative;
            height: 310px;
            margin: 0 2rem;
            &__text {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                z-index: 1;
                color: white;
                &__title {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 35px;
            }
        }
    }
}

.discover {
    padding: 2rem;
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background: white;
        border-radius: 44px 0 0 44px;
    }
}

.block {

    padding: 0 40px;

    &__title {
        margin-bottom: 40px;

        h3 {
            font-size: 24px;
            font-weight: 800;
            color: #fff;
            text-indent: 70px;
            position: relative;
        }
        h3::before {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-size: 100% 100% !important;
            left: 0;
        }
        &.top-4 h3::before {
            background: url('../../public/images/static/icons/top.svg');
        }
    }
}