@import "fonts";
@import "variables";
@import "colors";
@import "header";
@import "topmanga";
@import "footer";

body {
    background-color: $background;
    font-family: $f-family;
    margin: 0;
    padding: 0;
    color: #212121;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #212121;
}

.text-success {
    color: #25C100;
}
.text-warning {
    color: #FF750C;
}

.container {
    height: 100%;
    padding: 0 200px 0 200px;
}

.recent {
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 2rem 5rem;
    }
    &__slider {
        &__slides {
            border: 1px solid #707070;
            border-radius: 40px;
            overflow: hidden;
            position: relative;
            height: 270px;
            margin: 0 2rem;
            background-size: cover !important;
            background-position: center center !important;

            &__text {
                position: absolute;
                bottom: 2rem;
                left: 2rem;
                z-index: 1;
                color: white;
                &__title {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 35px;
            }
            &__overlay {
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.42200630252100846) 42%, rgba(0,0,0,0.06066176470588236) 79%);
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }
}

.discover {
    padding: 2rem;
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background: white;
        border-radius: 44px 0 0 44px;
    }
}

.block {
    padding: 40px 40px;

    &__title {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;

        &__controls {
            display: flex;

            &__prev {
                margin-right: 3rem;
            }
        }

        h3 {
            font-size: 24px;
            font-weight: 800;
            color: #fff;
            text-indent: 70px;
            position: relative;
        }
        h3::before {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            background-size: 100% 100% !important;
            left: 0;
        }
        &.top-4 h3::before {
            background: url('../../public/images/static/icons/top.svg');
        }
        &.recent h3::before {
            background: url('../../public/images/static/icons/processing.svg');
        }
        &.new h3::before {
            background: url('../../public/images/static/icons/calendar.svg');
        }
    }
}

.header-spacer {
    width: 100%;
    height: 70px;
    clear: both;
}

.home-categories {
    height: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 11px -2px #ababab;
    margin-top: 40px;

    ul {
        display: flex;
        justify-content: space-evenly;

        li {
            line-height: 50px;
            text-align: center;
            padding: 0 5px;
            
            a {
                font-family: $title-family;
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;

                .menu-icon {
                    float: left;
                    background-image: url('../../public/images/static/icons/menu.svg');
                    width: 23px;
                    height: 23px;
                    margin-top: 11px;
                    margin-right: 4px;
                }
                .hot-icon {
                    float: left;
                    background-image: url('../../public/images/static/icons/hot.svg');
                    width: 23px;
                    height: 23px;
                    margin-top: 11px;
                    margin-right: 4px;
                }
            }

            &:hover {
                background: #f0f0f0;
            }
        }
    }
}

.home-slider {
    margin-top: 75px;
    height: 350px;
    position: relative;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    box-shadow: 0px 0px 11px -2px rgba(171,171,171,1);
    border-radius: 30px;
    overflow: hidden;

    #home-slider {
        display: flex;
    }

    &__slide {
        width: 33%;
        background: green;
        height: 350px;
    }
    &__slide:nth-child(1n) {
        background: pink;
    }
    &__slide:nth-child(2n) {
        background: blue;
    }
    &__slide:nth-child(3n) {
        background: yellow;
    }
    &__slide:nth-child(4n) {
        background: green;
    }

    .slick-dots {
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
    }
    .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgb(255 255 255 / 50%);
        margin: 0 3px;
        cursor: pointer;
    }
    .slick-dots li.slick-active {
        width: 25px;
        border-radius: 25px;
        background: #FF750C;
    }
    .slick-dots li button {
        display: none;
    }


    &__arrow-prev {
        display: inline;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 38px;
        height: 38px;
        background: #fff;
        text-align: center;
        font-size: 24px;
        border-radius: 50%;
        line-height: 38px;
        cursor: pointer;
    }
    &__arrow-next {
        display: inline;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 38px;
        height: 38px;
        background: #fff;
        text-align: center;
        font-size: 24px;
        border-radius: 50%;
        line-height: 38px;
        cursor: pointer;
    }
    &__arrow-prev:hover, &__arrow-next:hover {
        box-shadow: 0px 3px 6px #00000029;
    }
}